body{
    
  margin: 0;
  padding: 0;
}

.Table{
    
    
}


body div p{
    
    text-align: right;
    
}

img{
    
    height:250;
    width: 205;
    
}

.col-sm-2{
    
    height:250px;
    width: 205px;
    display: inline-block;
    background-color:black;
    
   
 
}

.col-sm-4{
    
    width: 410px;
    
    display: inline-block;
    
    
}

.row-md-3{
      
 display: inline-block;
 
    
}