<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<html>

<head>
    <!--
      /Applications/XAMPP/xamppfiles/htdocs/hack2040/app/assets/stylesheets/css
      /Applications/XAMPP/xamppfiles/htdocs/hack2040/app/views/home
      /Applications/XAMPP/xamppfiles/htdocs/hack2040/app/assets/images/index
    !-->
    <link rel='stylesheet' href='../../assets/stylesheets/css/materialize.css' type='text/css'/>
    <link rel='stylesheet' href='../../assets/stylesheets/css/bootstrap.css' type='text/css'/>
    <link rel='stylesheet' href='../../assets/stylesheets/index.css' type='text/css'/>
</head>

<body>

  <div id="login">
    <p>

    </p>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2">
          <img class="img-responsive"src="https://i.imgur.com/Y9WYOcR.jpg" alt=""/>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
         <img class="img-responsive" src="https://i.imgur.com/eSaqMBD.jpg" alt=""/>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
          <img class="img-responsive" src="https://i.imgur.com/uYHuGAB.jpg" alt=""/>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
          <img class="img-responsive" src="https://i.imgur.com/gDxgITF.jpg" alt=""/>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
          <img class="img-responsive" src="https://i.imgur.com/3iYuLyC.jpg" alt=""/>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
          <img class="img-responsive" src="https://i.imgur.com/nTA7DHI.jpg" alt=""/>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2">
        <img class="img-responsive" src="https://i.imgur.com/9FKIF09.jpg" alt=""/>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
       <img class="img-responsive" src="https://i.imgur.com/uLOcyLT.jpg" alt=""/>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4">
        <br><br><br><br><br>
        <span id="title"> techversity </span>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
        <img class="img-responsive" src="https://i.imgur.com/NTiE7GG.jpg" alt=""/>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
        <img class="img-responsive" src="https://i.imgur.com/4xuxtAr.jpg" alt=""/>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2">
        <img class="img-responsive" src="https://i.imgur.com/9car3yu.jpg" alt=""/>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
        <img class="img-responsive" src="https://i.imgur.com/NHF5T8Y.jpg" alt=""/>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4">

        <span id="subtitle">techies unite!</span>
          <a class="btn" id="signup" href= "http://techversity.herokuapp.com/users/sign_up">Sign Up</a>

      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
        <img class="img-responsive" src="https://i.imgur.com/v0LsBZu.jpg" alt=""/>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
        <img class="img-responsive" src="https://i.imgur.com/3gUPEOR.jpg" alt=""/>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2">
        <img class="img-responsive" src="https://i.imgur.com/OHYvdJv.jpg" alt=""/>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
        <img class="img-responsive" src="https://i.imgur.com/LVymGNu.jpg" alt=""/>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
        <img class="img-responsive" src="https://i.imgur.com/JPwvxjh.jpg" alt=""/>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
        <img class="img-responsive" src="https://i.imgur.com/D5pnIY7.jpg" alt=""/>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
        <img class="img-responsive" src="https://i.imgur.com/LuETCpy.jpg" alt=""/>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
        <img class="img-responsive" src="https://i.imgur.com/dQfmloR.jpg" alt=""/>
      </div>
    </div>

  </div>


  <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left">
        <li><a href="index.html">Home</a></li>
        <li><a href="news.html">News</a></li>
        <li><a href="sponsors.html">Sponsors</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="events.html">Events</a></li>
      </ul>
    </div>
  </nav>

    <div class="text">

        <div class="row">
        <div id="first">

               <h3>Welcome to techversity</h3>
            <p> where we bring the employers to you</p>
        </div>
        </div>

        <br>
        <br>
        
      <div class="col s12 m8">
        <div class="card-panel teal">
          <span class="white-text">The idea behind techversity is simple, we spend hours filling out job applications, yet no reponse.
            This will put a stop to that, this is the tender of the tech industry. Employers will be inticed to view your profile and request your resume if they are interested. Not only will it save them the paperwork, but time and money. They will be able to view your work from gihubs, personal website and linkin profile all in one go.
          </span>
          <br>
          <div class="card-panel black">
          <span class="white-text">Join us and become a part of our great network. Theres no point of killing more trees, were techies we define the basis of technology. Build your profile today, whether your looking to hire or job hunting. You can find the many hidden talent in this industry and the passion that drives them.
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>


 <script src="http://code.jquery.com/jquery.js"></script>
 <script src="js/bootstrap.min.js"></script>
</body>

</html>
